apiVersion: v1
kind: Secret
metadata:
  name: tvdb-db-credentials
  namespace: tvdb
type: Opaque
stringData:
  mysql-root-password: change_me
  api-token: ""
  admin-username: ""
  admin-password: ""
